<!DOCTYPE html>
<html lang="en">
<head>
<link href="/css/radio.css" type="text/css" rel="stylesheet">
<script type="text/javascript">
function save_level3(j, k, l, link) {
  window.location.href = 'why/level4?level3=' + link +
                         '&level1=' + "<%=level1 %>" + '&level2=' + "<%=level2 %>" +
                         '&j=' + j + '&k=' + k + '&l=' + l;
}
function startover() {
  window.location.href = 'why/level1';
}
</script>
<% include ../session.ejs%>
<% include ../head.ejs%>
<% var keys = [];
   var links = [];
   for(var i=0; i<answers.length; i++) {
     var str = answers[i].split(':');
     keys.push(str[0]);
     links.push(str[1]);
   }
   console.log("link = " + links)
%>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
crossorigin='anonymous'>
</head>
<body>
<% include ../apps/header.ejs%>
<div id="container" style="background-color: #fff;margin:10px;padding-top:40px;">
  <div class="text-center" style="font-size:16px;padding-bottom:30px;">
    <div class="p-1">
      <p><strong><%=question %></strong></p>
    </div>
  </div>
    <div class="modal-content mx-auto" style="max-width:400px;border: 0px;">
      <div class="quiz" id="quiz" data-toggle="buttons">
         <a onclick="javascript:save_level3(<%=j %>, <%=k %>, 0, '<%= links[0] %>');">
          <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label">
            <i class='fas fa-angle-right' style='font-size:36px'></i></span>
            <input type="hidden"><%= keys[0] %></label></a>
         <a onclick="javascript:save_level3(<%=j %>, <%=k %>, 1, '<%= links[1] %>');">
          <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label">
            <i class='fas fa-angle-right' style='font-size:36px'></i></span>
            <input type="hidden"><%= keys[1] %></label></a>
        <% if(keys.length > 2) { %>
        <a onclick="javascript:save_level3(<%=j %>, <%=k %>, 2, '<%= links[2] %>');">
         <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label">
           <i class='fas fa-angle-right' style='font-size:36px'></i></span>
           <input type="hidden"><%= keys[2] %></label></a>
         <% } %>
         <% if(keys.length > 3) { %>
         <a onclick="javascript:save_level3(<%=j %>, <%=k %>, 3, '<%= links[3] %>');">
          <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label">
            <i class='fas fa-angle-right' style='font-size:36px'></i></span>
            <input type="hidden"><%= keys[3] %></label></a>
         <% } %>
      </div>
      <div class="d-flex justify-content-center" style="font-size:16px;padding-top:20px;">
          <button class="btn btn-outline-dark btn-lg font-weight-bold"
                      style="font-size:medium; border-radius: 22px; width: 120px; margin-right: 10px;"
                      tabindex="-1" role="button" onclick="startover();">Start Over</button>
      </div>
    </div>
</div>
</body>

<script src="/lib/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
<script src="/lib/bootstrap/js/popper.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>

<!-- [170] CSS Animated Hamburger Icon
<script type="text/javascript">
document.querySelector( "#nav-toggle" ).addEventListener( "click", function() {
  this.classList.toggle( "active" );
});
</script> -->

</html>
