<!docTYPE html>
<html lang="en">
<head>
  <% include ../session.ejs%>
  <% include ../head.ejs%>
</head>
<body>
<% include header.ejs%>
<div id="container" style="max-width: 720px;margin: 0 auto;width: 100%;padding-top: 10px;">
  <div class="content-inside">
  <div class="text-center" style="color:#003366;font-size:20px;padding-bottom:0px;">
    <div class="p-1">
      <p><strong>
        <a href='apps/level2?level1=Devices&level2=<%=data.group %>'><%=data.group %></a> &nbsp; >
        <a href='apps/level3?level1=Devices&level2=<%=data.group %>&level3=<%=data.subgroup %>'><%=data.subgroup %></a>
      </strong></p>
    </div>
  </div>
  <div class="row" style="padding: 15px; background-color: white;">
    <div class="col-6">
      <div class="text-center" style="padding-bottom: 10px;width: 400px">
        <img src='<%=data.image %>'></img>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center">
        <p style="color:#003366;font-size:20px;">
          <a href='<%=data.page %>'>
            <strong><%=data.name %></strong></a>
        </p>
        <span style="color:#003366;font-size:16px;"><%=data.description %></span>
      </div>
    </a>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <% include ./menu.ejs%>
</footer>
</body>
</html>
