<!docTYPE html>
<html lang="en">
<head>
  <% include ../session.ejs%>
  <% include ../head.ejs%>
  <link href="/css/detail.css" rel="stylesheet" type="text/css">
</head>
<body>
<% include header.ejs%>
<div id="container" style="max-width: 720px;margin: 0 auto;width: 100%;padding-top: 10px;">
  <div class="content-inside">
  <div class="text-center" style="color:#003366;font-size:20px;padding-bottom:0px;">
    <div class="p-1 heading">
      <p style="text-align:left; color:#3e4d66; margin-left:10px;"><strong>
        <a style="color:#3e4d66; text-decoration:none;" href='../apps/level2?level1=Devices&level2=<%=data.group %>'><%=data.group %></a>&nbsp;>
        <a style="color:#3e4d66; text-decoration:none;" href='../apps/level4?level1=Devices&level2=<%=data.group %>&level3=<%=data.subgroup %>&i=<%=data.i %>&j=<%=data.j %>'><%=data.subgroup %></a>
        > <a style="color:#3e4d66" href='<%=data.page %>'> <%=data.name %> </a>
      </strong></p>
    </div>
  </div>
  <div class="row itemrow" style="padding: 15px; background-color: white;">
    <div class="col-5" style="margin-top:5px;">
      <div style="padding-bottom: 10px;width:380px">
        <img class="itemimg" src='<%=data.image %>'></img>
      </div>
    </div>

    <div class="col-7">
      <div class="text-center" class="col2">
        <p class="itemdesc" style="text-align:left;color:#003366;font-size:16px;line-height:24px;"><%=data.description %></p>
      </div>
      <p style="margin-left:20px;margin-bottom:10px;">
        Room:
      </p>
      <select class="custom-select itemsel" name="carlist" form="carform">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <p style="margin-left:20px;margin-bottom:10px;">
        Section:
      </p>
      <select class="custom-select itemsel" name="carlist" form="carform">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br/>
      <button type="button" class="btn btn-success itembutton">Add to cart</button>
    </a>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <% include ./menu.ejs%>
</footer>
</body>
</html>
