<%
var username = '';
if(user != null) {
  username = user;
  console.log("!!!user=" + username);
  if(user.indexOf("@") != -1)
    username = user.split('@')[0];
}
%>
<script type="text/javascript">
var current = 'Home';
var menu_display = "none";
function show_menu() {
  if(menu_display == "none") {
    document.getElementById("menu").style.display = 'inline';
    document.getElementById("navbarNav").style.display = 'none';
    document.getElementById("container").style.display = 'none';
    if(document.getElementById("footer"))
      document.getElementById("footer").style.display = 'none';
    menu_display = "visible";
  }
  else {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    if(document.getElementById("footer"))
      document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
// alert(menu_display)
}
function close_menu() {
// alert(menu_display)
  if(menu_display == "visible") {
    document.getElementById("menu").style.display = 'none';
    document.getElementById("navbarNav").style.display = 'inline';
    document.getElementById("container").style.display = 'inline';
    if(document.getElementById("footer"))
      document.getElementById("footer").style.display = 'inline';
    menu_display = "none";
  }
}
function toggle_active(current, redirect, username) {
  if(current == 'Home') {
    document.getElementById("home").classList.add("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    if(username != '') {
      document.getElementById("packages").classList.remove("active");
      document.getElementById("signout").classList.remove("active");
    }
    else {
      document.getElementById("signin").classList.remove("active");
    }
    if(redirect)
      window.location.href = '/';
  }
  else if(current == 'DreamHome') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.add("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    if(username != '') {
      document.getElementById("packages").classList.remove("active");
      document.getElementById("signout").classList.remove("active");
    }
    else {
      document.getElementById("signin").classList.remove("active");
    }
    if(redirect)
      window.location.href = "apps/inspiring";
  }
  else if(current == 'HomeAdvisors') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.add("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    if(username != '') {
      document.getElementById("packages").classList.remove("active");
      document.getElementById("signout").classList.remove("active");
    }
    else {
      document.getElementById("signin").classList.remove("active");
    }
  }
  else if(current == 'Installation') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.add("active");
    document.getElementById("devices").classList.remove("active");
    document.getElementById("packages").classList.remove("active");
    if(username != '')
      document.getElementById("signout").classList.remove("active");
    else
      document.getElementById("signin").classList.remove("active");
  }
  else if(current == 'Packages') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    document.getElementById("packages").classList.add("active");
    if(username != '')
      document.getElementById("signout").classList.remove("active");
    else
      document.getElementById("signin").classList.remove("active");
    if(redirect)
      window.location.href = 'apps/packages';
  }
  else if(current == 'Devices') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("devices").classList.add("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("packages").classList.remove("active");
    if(username != '')
      document.getElementById("signout").classList.remove("active");
    else
      document.getElementById("signin").classList.remove("active");
    if(redirect)
      window.location.href = "apps/level1";
  }
  else if(current == 'Signout') {
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("packages").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    document.getElementById("signout").classList.add("active");
    if(redirect)
      window.location.href = "auth/logout";
  }
  else if(current == 'Signin') {
    document.getElementById("signin").classList.add("active");
    document.getElementById("home").classList.remove("active");
    document.getElementById("dream").classList.remove("active");
    document.getElementById("advisors").classList.remove("active");
    document.getElementById("installation").classList.remove("active");
    document.getElementById("packages").classList.remove("active");
    document.getElementById("devices").classList.remove("active");
    if(redirect)
      window.location.href = "auth/home";
  }
}
</script>
<nav class="navbar sticky-top navbar-expand-lg navbar-light" id="navbarNav"
     style="border-width: thin;background-color: rgb(255,255,255);">
  <a href="/" class="navbar-brand">
    <img src="images/logo.jpg" width="40" height="40" alt="">
    <span style="font-size:20px" class="aliagn-bottom"><b> &nbsp; SysHomes &nbsp; </b></span>
  </a>
  <button class="navbar-toggler" type="button" style="border-color: rgb(255,255,255);float: right !important;"
          onclick="show_menu();">
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          id="nav-toggle" style="border-color: rgb(255,255,255);">
  -->
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse topnav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="home" onclick='javascript:toggle_active("Home", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("Home", false, "<%=username %>")'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="dream" onclick='javascript:toggle_active("DreamHome", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("DreamHome", false, "<%=username %>")');'>DreamHome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="advisors" onclick='javascript:toggle_active("HomeAdvisors", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("HomeAdvisors", false, "<%=username %>")');'>HomeAdvisors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="installation" onclick='javascript:toggle_active("Installation", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("Installation", false, "<%=username %>")');'>Installation</a>
<!-- dropdown
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">installation</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
-->
      </li>
      <li class="nav-item">
        <a class="nav-link" id="devices" onclick='javascript:toggle_active("Devices", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("Devices", false, "<%=username %>");'>Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="packages" onclick='javascript:toggle_active("Packages", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("Packages", false, "<%=username %>");'>Packages</a>
      </li>
      <%   if(user) { %>
      <li class="nav-item">
        <a class="nav-link" id="signout" onclick='javascript:toggle_active("Signout", true, "<%=username %>");'
           onmouseover='javascript:toggle_active("Signout", false, "<%=username %>");'>Signout</a>
      </li>
      <% } %>
      <%   if(user == null) { %>
      <li class="nav-item">
        <a class="nav-link" id="signin" onclick='javascript:toggle_active("Signin", true);'
           onmouseover='javascript:toggle_active("Signin", false);'>SignIn</a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
<div style="display:none; position: relative; width:100%; margin:0px; padding:0px;" id="menu">
  <div style="margin:0px; padding:0px 20px 20px 20px; border-bottom:2px solid; border-color:lightgrey">
    <%   if(user == null) {
      username = '&nbsp;';
    }
    %>
    <span class="font-weight-bold" style="font-size:20px;"><%=username %></span>
    <a href="javascript:close_menu();">
      <img style="margin:0px; padding:0px;float: right" src="images/icons8-delete-32.png">
    </a>
  </div>
  <div style="margin-bottom:100px">
  <ul class="navbar-nav" style="font-size:16px;margin:0px; padding:0px 20px 10px 20px; ">
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="/" style="display: block;">
      <span style="color:black;">Home</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#" style="display: block;">
      <span style="color:black;">DreamHome</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#" style="display: block;">
      <span style="color:black;">HomeAdvisors</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#" style="display: block;">
      <span style="color:black;">Installation</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <%   if(user) { %>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="auth/home" style="display: block;">
      <span style="color:black;">SwitchUser</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
    <% } %>
    <li style="border-bottom:1px solid; border-color:lightgrey;padding-top:10px;padding-bottom:10px;">
      <a href="#" style="display: block;">
      <span style="color:black;">About</span>
      <img src="images/icons8-more-than-24.png" style="width:16px;float:right;"></a>
    </li>
  </ul>
  </div>
  <div class="d-flex justify-content-center">
    <%   if(user) { %>
      <button class="btn btn-outline-dark btn-lg font-weight-bold" id="signout_menu"
              style="font-size:medium; border-radius: 22px; width: 120px; margin-right: 10px;"
              tabindex="-1" role="button" onclick="javascript: window.location.href = 'auth/logout';">
              Sign Out</button>
    <% }
     else { %>
      <button class="btn btn-outline-dark btn-lg font-weight-bold" id="signin_menu"
              style="font-size:medium; border-radius: 22px; width: 120px; margin-right: 10px;"
              tabindex="-1" role="button" onclick="javascript: window.location.href = 'auth/home';">
              Sign In</button>
    <% } %>
      <a class="nav-link" href="/auth/feedback">Feedback</a>
  </div>
</div>
