<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../session.ejs%>
  <% include ../head.ejs%>
</head>
<body>
<% include header.ejs%>
<div id="container" style="max-width: 720px;margin: 0 auto;width: 100%;padding-top: 40px;">
  <div class="text-center" style="color:#003366;font-size:20px;padding-bottom:10px;">
    <div class="p-1">
      <p><strong><%=level1 %></strong></p>
    </div>
  </div>
<% var len = data.length;
   var img = [];
   var img1, img2;
  for(var index=1; index<=len; index++) {
    img1 = ((i+1)*10+index)*100;
    img2 = ((i+1)*10+index+1)*100;
    img[index-1] = img1 + "";
    img[index] = img2 + "";
console.log('img[index-1] = ' + img[index-1])
console.log('img[index] = ' + img[index])
%>
  <div class="row" style="padding: 20px; background-color: white;">
    <div class="col-6">
      <div style="padding-left: 40px;">
        <div class="col-4"><img width="32" src='images/<%=img[index-1] %>.png'></img></div>
        <div class="col-8" style="padding-top: 15px;">
          <a href="apps/level3?i=0&j=1&level1=<%=level1 %>&level2=<%=data[index-1] %>">
            <span style="color:#003366;font-size:16px;">
              <strong><%=data[index-1] %></strong>
            </span></a>
          <span class="badge badge-primary badge-pill"></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div style="padding-left: 40px;">
        <div class="col-4"><img width="32" src='images/<%=img[index] %>.png'></img></div>
        <div class="col-8" style="padding-top: 10px;">
          <a href="apps/level3?i=1&j=2&level1=<%=level1 %>&level2=<%=data[index] %>">
            <span style="color:#003366;font-size:16px;">
              <strong><%=data[index] %></strong>
            </span></a>
          <span class="badge badge-primary badge-pill"></span>
        </div>
      </div>
    </div>
  </div>
  <% if(index<len-1) { %>
  <div class="row" style="padding: 1px;background-color: #004080;"></div>
  <% } %>
<% index ++;} %>
</body>
<footer>
  <div style="text-align:center;padding-bottom: 10px;">
    <a href='http://www.freepik.com/'>
      <span style="color: #999999;font-size: 10px;">Icon made by www.flaticon.com</span></a>
  </div>
  <% include ../footer.ejs%>
</footer>
</html>
